.col1 {
    background-image: url("../pic1.jpg");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
}
.col2 {
    background-image: url("../pic1.jpg");
    background-repeat: repeat-y;
    background-position: right;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid;

}
.col3 {
    background-image: url("../pic1.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
}
.col4 {
    background-image: url("../pic1.jpg");
    background-repeat: repeat;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
}